@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Pacifico&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 24px;
    font-family: sans-serif;
}
/* nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    color: #F61D1D;
    font-family: 'Dancing Script', cursive;
    font-size: 48px;
}

.menu-item {
    display: flex;
}

.menu-item li {
    padding: 10px;
}

.menu-item li a {
    color: #000;
}

.menu-item li .active {
    color: #F61D1D;
}
/* end nav */

/* content */
.content {
    padding: 30px;
    display: flex;
    align-items: center;
}

.content .text {
    width: 60%;
    margin-right: 150px;
    line-height: 1.7;
}

.btn {
    cursor: pointer;
    margin-right: 30px;
    margin-top: 30px;
    padding: 15px 40px;
    border: 2px solid #000;
    border-radius: 25px;
    background-color: #000;
}

.no-bg {
    background-color: #fff;
}

.btn a {
    color: #fff;
}

.no-bg a {
    color: #000;
}

.btn:hover,.btn a:hover {
    background-color: #000;
    color: #fff;
}

h1 {
    color: #F61D1D;
    font-size: 64px;
}

.content .banner, .text {
    width: 50%;
}
/* end content */

/* footer */

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #039BE5;
    padding: 10px;
}

.cicle {
    margin: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    margin-top: 10px;
    display: flex;
}

i {
    padding: 10px;
    color: #039BE5;
}
























@media screen and (max-width:1000px) {
    .content, .banner, .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text {
        text-align: center;
        margin-top: 60px;
        margin-left: 200px;
    }

}

@media screen and (max-width:615px) {
    * {
        font-size: 18px;
    }

    h1 {
        font-size: 48px;
    }

    nav {
        display: flex;
        justify-content: center;
    }

    .logo {
        display: none;
    }

    .menu-item li {
        padding: 5px;
    }

    .menu-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-item li a {
        font-size: 18px;
    }

    .banner {
        width: 60%;
    }

    .banner img {
        width: 300px;
    }

    .content .text {
        width: 100%;
    }
}